.container {
  width: 970px;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  border: 1px solid black;
  color: grey;
  border-radius: 20px;
  width: 900px;
  padding: 0px 10px 0px 10px;
  margin-top: 15px;
  background-color: firebrick;
}
.container2 {
  width: 970px;
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftmenu {
  border: 1px solid black;
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 90px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 300px;
  text-align: justify;
  width: 180px;
  height: 180px;
  background-color: cadetblue;
}
.maincontent {
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  margin-right: 35px;
  margin-top: 20px;
  padding: 0px 10px 0px 10px;
  text-align: justify;
  width: 800px;
  height: 600px;
  background-color: black;
}
.container3 {
  width: 970px;
  height: 100px;
  background-color: darkblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.moreinfo {
  border: 1px solid black;
  padding: 0px 10px 0px 10px;
  border-radius: 20px;
  height: 50px;
  width: 900px;
  background-color: grey;
}
a {
  color: cyan;
}
span {
  color: blue;
}
